.nav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
}

.nav .nav-container {
  /* padding: 0 1.5rem; */
  /* height: 55px; */
  height: 160px;
  padding: 0 2rem;
  max-width: 800px;
  margin: auto;
  justify-content: space-between;
}

.nav .cta,
.nav .nav-container {
  display: flex;
  align-items: center;
}

.nav .links,
.nav .links a {
  display: flex;
  align-items: center;
}

.nav .links {
  flex-direction: row;
  justify-content: center;
  flex: 1 1;
  margin: 0;
}

.nav .links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100%;
}

.headerButtons {
  margin: 40px 0 0 20px;
}

