/* html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  
  body {
    color: white;
    background: #1c1f26;
  }
} */

:root {
  --color-primary: #FB3A94;
  --text-primary: #000000;

  --body-bg: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --body-bg: #1c1f26;
    --text-primary: #FFFFFF;
  }

  html {
    color-scheme: dark;
  }
}

html { 
  font-family: 'Inter', sans-serif; 
  font-feature-settings: 'dlig', 'zero', 'ss01', 'cv05', 'cv10';
}

body {
//   color: white;
  background: var(--body-bg);
}

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

footer {
    background-color: rgb(243, 243, 243);
}