$colorOne: #6D7696;
$colorTwo: #59484F;
$colorThree: #455C4F;
$colorFour: #CC5543;
$colorFive: #EDB579;
$colorSix: #DBE6AF;

@import '../../node_modules/skeleton-scss/scss/skeleton';

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 20px;
    background: $colorTwo;
}

a {
    color: $colorFour;
}

.footer a {
    font-weight: 400;
    color: #a6a6a6;
    // display: block;
    margin-right: 1.5rem;
}
.footer .footer-img {
    height: 30px;
    width: 30px;
    margin-bottom: 0;
}